@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --radius: 0.75rem;

    --principalColor: 239 84% 67%;
    
    --header: 231 63% 28%;
    --hero: 233 100% 63%;
    --info: 234 100% 95%;

  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 212 27% 84%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased;
    font-family: 'Inter', sans-serif;
  }
}
